@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #fff; /* For debugging  - to visualise the box model */
}

body {
  font-family: "Poppins", sans-serif;
}
/* Utility classes */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
}

.main-header {
  background-color: #000;
  /* width: 100%; */
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  color: #fff;
  text-align: left;
  font-weight: 300;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

h1 {
  font-size: 1.25rem;
}
h1:hover {
  opacity: 0.9;
}
/* For debugging  - to visualise the box model*/
.box-padding {
  padding: 20px 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Add flexbox */
.headline-container,
.page-container {
  display: flex;
  flex-direction: column;
}

div.headline-container .box-padding {
  padding: 0; /*Removes padding for headline*/
}

.page-container {
  align-items: center;
}

/*The background colours are just temporary, it's just that we can visualise whether @media query works. Will be removed later on*/
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #f09a9d; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #f5cf8e; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #b2d6ff; /* Blue */
  }

  .desktop-row {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
}
