* {
  margin: 0;
  padding: 0;
  border: 1px solid #fff; /* For debugging  - to visualise the box model*/
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* For debugging  - to visualise the box model*/
.box-padding {
  padding: 20px 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*The background colours are just temporary, it's just that we can visualise whether @media query works. Will be removed later on*/
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #f09a9d; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #f5cf8e; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #b2d6ff; /* Blue */
  }
}
