@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  display: block;
}
/* Utility classes */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */
.main-header {
  background-color: #000;
  /* width: 100%; */
  position: sticky;
  top: 0;
  z-index: 10;
  height: 57px;
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  width: 110px;
}

h1 {
  margin: 2rem 0 1rem;
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}
/* WHEEL */
.picker,
.triadic {
  margin: 2.5rem 0;
}

.triadic,
.tetradic {
  display: none;
}

/* Add flexbox */
.headline-container,
.page-container {
  display: flex;
  flex-direction: column;
}

.page-container {
  align-items: center;
}

/* DROPDOWN COLOR */
.dropdown-color {
  margin-bottom: 2rem;
  color: #000;
}

label {
  display: block;
  margin: 0 0 1rem 1rem;
  font-size: 1rem;
  font-weight: 400;
}

input,
select {
  width: 90vw;
  font-size: 1rem;
  font-weight: 300;
  font-family: inherit;
  margin: 0.6rem 0 1.3rem;
  margin: 0.5rem auto;
  display: block;
  outline: none;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

input:focus,
select:focus {
  outline: 1px solid #038cfc;
}

select {
  appearance: none;
  background-image: url("img/chevron-down.png");
  background-repeat: no-repeat;
  background-position: 95%;
  background: #f2f3f5;
}

/* BOX PALETTE */
.color-palette {
  margin-top: 1rem;
  display: flex;
}

.swatch {
  height: 58px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}

.colorList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  display: flex;

  .swatch {
    border-radius: 0;
  }

  li {
    flex: 1;
    cursor: pointer;
    transition: 0.4s ease;
  }

  li:hover {
    scale: 1.05;
  }

  li:first-child {
    .swatch {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }

  li:last-child {
    .swatch {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

/* .box {
  padding: 1.125rem 3rem;
  flex: 1;
  text-align: center;
}

.box1 {
  background: #f719ff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.box2 {
  background: #73ff19;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.box3 {
  background: red;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: none;
}

.box4 {
  background: yellow;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: none;
} */

/*The background colours are just temporary, it's just that we can visualise whether @media query works. Will be removed later on*/
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  /* body {
    background-color: #f09a9d;
  } */
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  /* body {
    background-color: #f5cf8e; /* Yellow */
  /* } */
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  /* body {
    background-color: #b2d6ff;
  } */

  h1 {
    font-size: 4rem;
    margin-top: 3.125rem;
  }

  h2 {
    font-size: 2rem;
  }

  label {
    font-size: 1.25rem;
  }

  .headline-container {
    position: relative;
  }

  .desktop-row {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .dropdown-color {
    position: absolute;
    left: 0;
    top: 40%;
  }
  input,
  select {
    max-width: 460px;
  }

  .swatch {
    height: 112px;
  }
}
